/* body {
  display: flex;
  justify-content: center;
  align-items: center;

} */

h1 {
  position: relative;
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: calc(15px + 3vw);
  font-weight: 700;
  color: #fff;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-shadow: 0 0 0.15em #1da9cc;
  user-select: none;
  white-space: nowrap;
  filter: blur(0.007em);
}

h1 span {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
}
