.demoPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white; /* White background for pages */
  border: 1px solid #ccc; /* Optional border */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Optional shadow */
  padding: 20px; /* Add some padding */
  height: 100%; /* Ensure it takes full height */
  border-radius: 10px;
}

.page-cover {
  background-color: white;
  border-radius: 10px;
}
