@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

.sacramento-regular {
  font-family: 'Sacramento', cursive;
  font-weight: 400;
  font-style: normal;
}

.demoPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white; /* White background for pages */
  border: 1px solid #ccc; /* Optional border */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Optional shadow */
  padding: 20px; /* Add some padding */
  height: 100%; /* Ensure it takes full height */
  border-radius: 10px;
}

.page-content {
  background-color: white; /* White background for pages */
  display: flex; /* Enable flexbox */
  justify-content: center; /* Center children horizontally */
  align-items: center; /* Center children vertically */
  text-align: center; /* Center text within the h2 */
  height: 800px;
}

.text-gold {
  color: rgba(255, 215, 0, 1); /* Fully opaque gold */
}

.demoPage,
.page-content {
  margin: 0;
  padding: 0;
  border: none; /* Remove borders if any */
}
